body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0e0f0f;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 350px;

    text-align: center;
}


.glass-container header img {
    width: 70px; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

form h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fffcfc;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #181616;
}

.fa-phone {
    top: 50%;
    transform: translateY(-50%) rotate(-250deg);
}

.custom-input {
    width: calc(100% - 20px); /* Adjusted width to match login form */
    padding: 10px;
    background: #13850f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}


        
        .custom-input:hover {
            background-color: #146e11; /* Darker color on hover, adjust as needed */
            color: black;
        }
        
        .separator {
            margin: 15px 0;
            color: #fffbfb;
            font-size: 14px;
            font-weight: bold;
        }
        

    
        .already-member {
            margin-top: 20px;
            color: #fffafa;
        }

        .already-member a {
            color: #fd3e0e;
            text-decoration: none;
            cursor: pointer;
        }
        .g-input {
            width: 85%; /* Adjusted width to match login button */
            padding: 10px;
            background-color: #4c13cf; /* Google Red */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            transition: background-color 0.3s ease;
        }
        
        .g-input:hover {
            background-color: #390e9c; /* Darker Google Red on hover */
        }

        a:hover  {
            color: white;
        }

        /* Media Queries for Responsiveness */
@media only screen and (max-width: 400px) {
    
    .glass-container {
     
        padding: 22px;
        width: 240px;
      
    }
  

    form h2{
        font-size: 18px;
    }
}
